body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
	height:100%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

#picSpace {
	float:left;
	width: 20%;
	height: 100%;
}

#username {
	padding-top: 120px;
}

#profPic {
	border: 1px solid #ccc;
	width: 200px;
	height: 200px;
    margin: 20px;
}

#info {
	float:left;
	width: 50%;
	height:100%;
}
