.events {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;  
    overflow: hidden;
}

.eventCard {
    border: 1px solid #ccc;
    text-align: center; 
    text-decoration: none;
    color: black;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    height: 200px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;  
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.eventCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.eventCard h3 {
   margin: 5px;
   padding-bottom: 5px;
}

.eventCard p {
    padding-top: 5px;
    margin: 5px;
}

.eventCard img {
    width: 100%;
    height: 125px;
    object-fit:scale-down;
}

#bottomSection {
    display: flex;
    padding: 20px;
    width: 500px;
    float: right;
    text-align: end;
}


#eventConnectForm {
    border: 1px solid #ccc;
    color: #0e0e0e;
    padding: 10px;
    flex-grow: 1; /* Takes up available space */
    margin-right: 20px; 
    background-color: #ffffff;
    border-radius: 5px;
}

#eventConnectForm input[type="text"] {
    height: 25px;
}

#eventConnectForm input[type="text"]:focus {
    outline: none;
}

#eventConnectForm input[type="submit"] {
    background-color: rgb(221, 7, 60); 
    color: white;
    border: none;
    height: 30px;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#eventConnectForm input[type="submit"]:hover {
    background-color: #b30528; 
}

/* Responsive adjustments */
@media (max-width: 768px) {
   .events {
       grid-template-columns: repeat(2, 1fr);
   }
}

@media (max-width: 500px) {
    .events {
       grid-template-columns: 1fr;
    }
    nav ul {
        flex-direction: column; /* Stack navigation vertically */
        align-items: flex-end;
    }
    nav li {
        margin: 5px 0; /* Adjust vertical spacing */
    }
}