body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

header {
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(197, 8, 55);
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

#logout {
    background-color: #1dc70a; 
    color: #172b1d; 
    font-weight: bold;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    padding: 10px 10px; 
}

#logout:hover {
    background-color: #1db30d; 
}

#profileInfo {
    display: flex;
    align-items: center;

}

#profilePicture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    margin-right: 10px;
    text-align: center;
}

#topNav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    
}

#topNav li {
    margin-left: 20px;
}

#topNav a {
    text-decoration: none;
    color: #fff;
}

.events {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.eventCard {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center; 
    text-decoration: none;
    color: black;
    border-radius: 5px;
    height: 200px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.eventCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.eventCard img {
    max-width: 100%;
    height: auto;
}

#bottomSection {
    display: flex;
    padding: 20px;
    width: 500px;
    float: right;
    text-align: end;
}


#eventConnectForm {
    border: 1px solid #ccc;
    color: #0e0e0e;
    padding: 10px;
    flex-grow: 1; /* Takes up available space */
    margin-right: 20px; 
    background-color: #ffffff;
    border-radius: 5px;
}

#eventConnectForm input[type="text"] {
    height: 25px;
}

#eventConnectForm input[type="text"]:focus {
    outline: none;
}

#eventConnectForm input[type="submit"] {
    background-color: rgb(221, 7, 60); 
    color: white;
    border: none;
    height: 30px;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#eventConnectForm input[type="submit"]:hover {
    background-color: #b30528; 
}

/* Responsive adjustments */
@media (max-width: 768px) {
   .events {
       grid-template-columns: repeat(2, 1fr);
   }
}

@media (max-width: 500px) {
    .events {
       grid-template-columns: 1fr;
    }
    nav ul {
        flex-direction: column; /* Stack navigation vertically */
        align-items: flex-end;
    }
    nav li {
        margin: 5px 0; /* Adjust vertical spacing */
    }
}