body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(243, 239, 226);
}

header {
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(197, 8, 55);
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

#profileInfo {
    display: flex;
    align-items: center;
}

#profilePicture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    margin-right: 10px;
    text-align: center;
}

#logout {
    background-color: #1dc70a; 
    color: #172b1d; 
    font-weight: bold;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    padding: 10px 10px; 
}

#logout:hover {
    background-color: #1db30d; 
}

#topNav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#topNav li {
    margin-left: 20px;
}

#topNav a {
    text-decoration: none;
    color: #fff;
}